.main {
    min-height: 20vh;
}
.tech {
color: #04393d;
    font-family: "Arial Rounded MT Bold";
}

.loading {
    position: absolute;
    color: darkslategrey;
    right: 0
}

.input{
    position: relative;
    width: 150px;
}