.block {
    display: grid;
    width: 350px;
    grid-template-areas: "t p b";
    grid-template-columns: 1fr 1fr 1fr;
}

.task {
    grid-area: t;
    margin: 5px;
    font-weight: bold;
}

.priority{
    grid-area: p;
    margin: 5px;
}

.button {
    background-color: teal;
    color: #b2fcff;
    grid-area: b;
    margin: 5px;
    width: 50px;
}

.priorityButtons {
    background-color: teal;
    color: #b2fcff;
    margin: 5px;
    width: 63px;
}
