.item {

}

.item:last-of-type {
}

.users {
    border: 1px solid black;
    width: 10rem;
}

.buttonsContainer {
}

.container {
}

.thead {
    background-color: rgba(208, 206, 206, 0.73);

}

.nameCol {

}

.ageCol {

}