.comment {
    grid-area: comment;
    display: grid;
    position: relative;
    grid-template-areas: "text time";
    grid-template-columns: 1fr 50px;
    grid-auto-rows: minmax(30px, auto);
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    background-color: darkslategrey;
    grid-gap: 8px;
}
.comment::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 28px;
    height: 28px;
    background: radial-gradient(60px at top left, transparent 49%, darkslategrey 51%) no-repeat right bottom;
}