.default {
    background: teal;
    color: #b2fcff;
    margin: 5px;
}

.red {
    background: maroon;
    color: white;
    border: 5px solid maroon;
}

a {
    color: #b2fcff;
    text-decoration:none
}

a:hover {
    color: white;
    text-decoration: none;
}